/* Media Background: 77c7b0 */
/* Page Background: 1a1a1a */

summary {
	background-color: #77c7b0;
	font-size: 1.6em;
	font-weight: bold;
	padding: 8px;
}

details {
	padding: 4px;
	border: 1px solid;
}

details > p {
	padding-left: 12px;
	padding-right: 12px;
}

figure {
	background-color: transparent;
	display: block;
	text-align: center;
}

body {
	background-color: #1a1a1a;
	color: #ffffff;
	font-family: monospace;
	font-size: 1.2em;
}

a {
	color: #77c7b0;
}

.main-body {
	width: 80%;
	margin: auto;
}

.spotlight-video {
	text-align: center;
	
}

iframe {
	border-style: none;
	padding: 12px;
}