/* Media Background: 77c7b0 */
/* Page Background: 1a1a1a */

figure {
	background-color: transparent;
	display: block;
	text-align: center;
}

body {
	background-color: #1a1a1a;
	color: #ffffff;
	font-family: monospace;
	font-size: 1.2em;
}

a {
	color: #77c7b0;
}

.main-body {
	width: 80%;
	margin: auto;
}
